{% extends "layout.html" %}
{% block title %}Query{% endblock %}
{% block content %}
<main role="main">
    <div class="container-xl">
        <div class="row">
            <div>
                <h4>Query Image</h4>
                <img class="border my-1" src="{{ url_for('static', filename=data.query) }}" width="224" height="224">
            </div>
        </div>
        
        {% if data.images %}
            <div class="row mb-2">
            {% for filename in data.images %}
                {% if loop.index0 is not divisibleby(5) and loop.index0 != 0 %}
                <div class="col-2 mx-1 my-2">
                    <img src="{{ url_for('static', filename=filename) }}" width="224" height="224">
                    <h6>distance: {{ data.distances[loop.index0] }}</h6>
                </div>
                {% else %}
                </div>
                <div class="row mb-2">
                    <div class="col-2 mx-1 my-2">
                        <img class="" src="{{ url_for('static', filename=filename) }}" width="224" height="224">
                        <h6>distance: {{ data.distances[loop.index0] }}</h6>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    </div>
</main>
{% endblock %}